.recommendations-screen {
    padding: 0 50px;
}

.recommendations-screen > .-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.recommendation-place-holder {
    width: 25%;
    min-width: 200px;
    height: 400px;
    background-color: grey;
}

.experience-screen {
    margin-top: 30px;
}

.employement-history-entry > * {
    display: inline-block;
}

.employement-history-entry {
    display: flex;
    justify-content: center;
}

.employement-history-entry > .-body {
    margin-left: 20px;
    padding: 0px 15px;
    max-width: 500px;
}

@media all and (max-width: 479px) {
    .employement-history-entry img {
        display: none;
    }

    .recommendation-place-holder {
        min-width: 70%;
    }
}